
$fontLogo: "Bungee", cursive;
$fontPage: "Source Sans Pro", sans-serif;

.navbar {
  display: flex;
  background: #4056A1;
  color: #FFFFFF;
  height: 120px;
  padding: 1.5em;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;

  .logo {
    display: flex;
    font-size: 1.8em;
    font-family: $fontLogo;
  }
  .post {
    display: flex;
    flex-direction: column;
    font-size: 1em;

    
    #write {
      font-family: $fontPage;
      flex-direction: row;
    }
  }
}
.post:hover{
  cursor: pointer;
}

.fa-solid{ 
  align-self: center;
  color: red;
}

 
 