#tweet-container {
  display: flex;
  flex-direction: column;
}

.tweet {
  border: 0.2em solid #767676;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: rgba(249, 205, 229, 0.4509803922);
}

.tweet:hover {
  box-shadow: 0.2em 0.2em lightgray;
}

.tweetheader {
  display: flex;
  width: 98%;
  justify-content: space-between;
  padding: 0.5em;
}
.tweetheader .handle {
  font-family: "Source Sans Pro", sans-serif;
  color: #405788;
}
.tweetheader .tweetimgname {
  display: flex;
  align-items: center;
}

.tweetbody {
  display: flex;
  padding: 0.5em;
}

.tweetfooter {
  display: flex;
  align-self: center;
  border-top: 0.2em solid #767676;
  width: 98%;
  justify-content: space-between;
  align-items: center;
  height: 3em;
  font-size: 0.8em;
  padding: 0.5em;
}

.fa-sharp {
  display: flex;
  color: #4056a1;
}

.fa-sharp:hover {
  color: #c59933;
}

.fa-regular {
  font-size: 1.8em;
  padding: 0.4em;
}
