#tweet-container {
  display: flex;
  flex-direction: column;
}

.tweet {
  border: 0.2em solid #767676;
  margin-bottom: 10px;
}
.tweet:hover {
  box-shadow: .2em .2em lightgray ;
}
.tweetheader {
  display: flex;
  width: 98%;
  justify-content: space-between;
  padding: 0.5em;
}

.tweetbody {
  display: flex;
  padding: 0.5em;
}

.tweetfooter {
  display: flex;
  align-self: center;
  border-top: 0.2em solid #767676;
  width: 98%;
  justify-content: space-between;
  align-items: center;
  height: 3em;
  font-size: .8em;
  padding: 0.5em;
}

.tweetimgname {
  display: flex;
  align-items: center;
}

.fa-sharp {
  display: flex;
  color: #4056a1;
}

.handle {
  font-family: "Source Sans Pro", sans-serif;
  color: #c9d2e6;
}

.fa-regular {
  font-size: 1.8em;
  padding: .4em
}
.fa-solid:hover {
  color: #c59933;
}